.container {
  flex-direction: column;
  position: fixed;
  min-width: 340px;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (orientation: landscape) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.title {
  color: #f3e7e4;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.1;
}

.text {
  color: #f3e7e4;
}

.authLink {
  padding: 10px 0;
  text-decoration: none;
  color: #f3e7e4;
  transition: all 0.3s linear;
}

.authLink:hover {
  color: #aa9f9c;
}

.authLink::after {
  display: block;
  content: '';
  position: relative;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background: #aa9f9c;
}

.anchor:hover {
  text-decoration: none;
}
