.control {
  color: #fff !important;
  border-image: linear-gradient(45deg, rgb(255, 255, 255), rgb(245, 245, 241)) !important;
  border-image-slice: 1 !important;
  border-color: transparent !important;
  background-color: transparent !important;
  background-clip: padding-box !important;
  transition: all 0.3s linear !important;

  @media (max-width: 767px) {
    width: 100%;
    min-width: 100% !important;
  }
}

.control:hover {
  border-image: linear-gradient(45deg, #f51313, #ffc710) !important;
  border-image-slice: 1 !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
