.control {
  border-image: linear-gradient(45deg, rgb(255, 255, 255), rgb(245, 245, 241));
  border-image-slice: 1;
  background-clip: padding-box;
  font-weight: 400;
  transition: all 0.3s linear;
}

.control:hover {
  border-image: linear-gradient(45deg, #f51313, #ffc710);
  border-image-slice: 1;
}
