.container {
  display: flex;
  align-items: center;
  margin: 7rem auto;
  max-width: 62.75rem;
  padding: 0 2rem;
  color: #f3e7e4;
  text-decoration: none;
}

.wrapper {
  width: 40rem;
}

.image {
  width: 15rem;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.text {
  font-weight: 300;
  line-height: 20px;
}

.hidden {
  display: none;
}
