.contentWrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  user-select: none;
}

.resetButton {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.priceFilter {
  width: 140px;
  border-bottom: unset;
}

.lavaFilter {
  width: 170px;
  border-bottom: unset;
}

.lampFilter {
  width: 130px;
  border-bottom: unset;
}

.sort {
  width: 170px;
  border-bottom: unset;
}
