.bc {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 100px;
  user-select: none;
  display: inline-flex;
  flex-wrap: wrap;

  @media (width <= 1200px) {
    padding: 16px 32px;
  }

  @media (width <= 600px) {
    padding: 16px;
  }
}

.bc a,
.bc span {
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 8px 0;
  color: #aa9f9c;
  overflow-wrap: break-word;
  white-space: normal;

  @media (width <= 600px) {
    font-size: 0.8rem;
  }
}

.bc a {
  color: #f3e7e4;
}

.bc a:hover {
  color: #aa9f9c;
}
