.card {
  width: 100%;
}

.content {
  justify-content: space-between;
}
.title {
  width: 40%;
}

.priceContainer {
  width: 15%;
}

.counterContainer {
  width: 15%;
  justify-content: space-between;
}

.closeBtn:hover {
  background: transparent;
  color: #aa9f9c;
}
