.categoriesWrapper {
  background-color: rgba(255, 255, 255, 0.03);
}

.contentWrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  user-select: none;
}

.active {
  background-color: rgba(243, 231, 228, 0.05);
}

.categories {
  text-align: center;
}

:where([data-active], [aria-current='page']) .navLinkLabel {
  background: linear-gradient(to bottom left, #f9bf08, #ff4000);
  background-clip: text;
  color: transparent;
}
