.main {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1920;
  margin: 2rem auto;
  padding-left: 100px;
  padding-right: 100px;
  user-select: none;

  @media (max-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: 600px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-weight: 900;
  font-size: rem(34px);
  margin-bottom: var(--mantine-spacing-md);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: 767px) {
    font-size: rem(20px) !important;
  }
}

.control {
  color: #fff !important;
  border-image: linear-gradient(45deg, rgb(255, 255, 255), rgb(245, 245, 241)) !important;
  border-image-slice: 1 !important;
  border-color: transparent !important;
  background-color: transparent !important;
  background-clip: padding-box !important;
  transition: all 0.3s linear !important;

  @media (max-width: 767px) {
    width: 100%;
    min-width: 100% !important;
  }
}

.control:hover {
  border-image: linear-gradient(45deg, #f51313, #ffc710) !important;
  border-image-slice: 1 !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.control:hover .mantine-Button-inner .mantine-Button-label {
  border-image: linear-gradient(45deg, #f51313, #ffc710) !important;
  border-image-slice: 1 !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}

.error {
  background: url('../../assets/lava.webp');
  mask-image: url('./assets/404.svg');
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  @media (max-width: 767px) {
    height: 6em;
  }
}

.text {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
  max-width: 600px;
  font-size: 1rem;
}
