.main {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1920;
  margin: 2rem auto;
  padding-left: 100px;
  padding-right: 100px;
  user-select: none;

  @media (max-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: 600px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-weight: 900;
  font-size: rem(34px);
  margin-bottom: var(--mantine-spacing-md);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: 767px) {
    font-size: rem(20px) !important;
  }
}

.error {
  background: url('../../assets/lava.webp');
  mask-image: url('./assets/404.svg');
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  @media (max-width: 767px) {
    height: 6em;
  }
}

.text {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
  max-width: 600px;
  font-size: 1rem;
}
