.container {
  composes: commonContainer from '../../index.css';

  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.1;
}

.contentWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
  user-select: none;

  @media (width <= 1200px) {
    padding: 0 32px;
  }

  @media (width <= 600px) {
    padding: 0 16px;
  }
}
