.container {
  display: block;
}

.title {
  color: var(--mantine-color-white);
  font-size: 40px;
  font-weight: 300;
  line-height: 1.1;
}

.text {
  color: var(--mantine-color-white);
  font-size: 16px;
}

.authLink {
  padding: 10px 0;
  text-decoration: none;
  color: #f3e7e4;
  transition: all 0.3s linear;
}

.authLink:hover {
  color: #aa9f9c;
}

.authLink::after {
  display: block;
  content: '';
  position: relative;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background: #aa9f9c;
}

.anchor:hover {
  text-decoration: none;
}

.checkbox {
  color: var(--mantine-color-white);
  cursor: pointer;
}

.textAddress {
  font-size: 1.25em;
  color: var(--mantine-color-white);
}
