.container {
  max-width: 1920;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;

  @media (max-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (max-width: 600px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.footerWrapper {
  border-top: 1px solid #aa9f9c;
  user-select: none;
}

.link:hover {
  color: #aa9f9c !important;
}
