.container {
  max-width: 1920;
  margin: 0 auto;
  padding: 60px 100px;
  user-select: none;

  @media (width <= 1200px) {
    padding: 2.5rem;
  }
}

.infoContent {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 20px;
  color: #f3e7e4;
  font-weight: 300;
  padding-bottom: 32px;
}

.text {
  font-size: 16px;
}

.textPadding {
  padding-bottom: 40px;

  @media (width <= 1200px) {
    padding-bottom: 32px;
  }

  @media (width <= 600px) {
    padding-bottom: 16px;
  }
}
