.container {
  max-width: 1920;
  margin: 0 auto;
  padding: 60px 100px;
  user-select: none;

  @media (max-width: 1200px) {
    padding: 2.5rem;
  }
}

.infoContent {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  padding-bottom: 32px;

  @media (max-width: 1400px) {
    font-size: 1.2rem;
  }

  @media (max-width: 600px) {
    font-size: 1.1rem;
  }
}

.text {
  font-size: 1.25rem;

  @media (max-width: 600px) {
    font-size: 0.9rem;
  }
}

.textPadding {
  padding-bottom: 40px;

  @media (max-width: 1200px) {
    padding-bottom: 32px;
  }

  @media (max-width: 600px) {
    padding-bottom: 16px;
  }
}
