.hidden {
  display: none;
}

.default {
  margin: 0.2rem 0;
  font-size: 13px;
  color: #aa9f9c;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 16px;
  color: var(--mantine-color-bright);
  border: 1px solid #3d3d3d;
  transition: 0.3s;
}

.card:hover .menu {
  background-color: #3d3d3d32;
}

.card:hover .menu:hover {
  background-color: #3d3d3d82;
}

.address {
  margin-right: 1rem;
  word-break: break-all;
}

.menu {
  align-self: flex-start;
  padding: 0;
  min-width: 2rem;
  background-color: #242424;
  transition: 0.3s;
}
