:root {
  --color-fg: #f3e7e4;
  --color-bg: #1f1b1b;

  background-color: var(--color-bg);
  color: var(--color-fg);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #242424;
}

::-webkit-scrollbar-thumb {
  background: #131212;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

body {
  box-sizing: border-box;
  margin: 0px;
}

#root {
  min-height: 100vh;
}

main {
  padding-bottom: 0;
}

.mantine-AppShell-root {
  min-height: 100vh;
}
