:root {
  background-color: #1f1b1b;
  color: #f3e7e4;
}

body {
  box-sizing: border-box;
  margin: 0px;
}

main {
  min-height: calc(100vh - 48px) !important;
  padding-bottom: 0 !important;
}

footer {
  position: static !important;
}

.mantine-AppShell-root {
  min-height: 100vh;
}
