:root {
  background-color: #1f1b1b;
  color: #f3e7e4;
}

body {
  box-sizing: border-box;
  margin: 0px;
}

#root {
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 100px) !important;
  padding-bottom: 0 !important;

  @media (max-width: 767px) {
    min-height: calc(100vh - 200px) !important;
  }
}

footer {
  position: static !important;
}

.mantine-AppShell-root {
  min-height: 100vh;
}
