.carousel {
  @mixin hover {
    .carouselControls {
      opacity: 1;
    }
  }
}

.carouselControls {
  transition: opacity 150ms ease;
  padding: 0;
  gap: 20px;

  &[data-orientation='vertical'] {
    top: -40px;
    bottom: -40px;
  }

  &[data-orientation='horizontal'] {
    left: -40px;
    right: -40px;
  }
}

.carouselControl {
  color: var(--mantine-color-bright);
  background-color: transparent;
  border: transparent;

  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.carouselControl svg {
  width: 20px !important;
  height: 20px !important;
}

.carouselIndicators {
  bottom: -4px;
}

.carouselIndicator {
  width: 5px;
  height: 5px;
  transition: width 250ms ease;

  &[data-active] {
    width: 16px;
    background-color: #aa9f9c;
  }
}

.carouselContainer {
  gap: 20px;

  @media (width <= 600px) {
    margin-top: 20px;
  }
}
